<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zr.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/android"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service android:name=".module.home.activity.TestService"></service>

        <activity
            android:name=".module.home.activity.HomeActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.web.activity.WebActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.home.activity.SearchActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.knowledgesystem.activity.KnowledgeSystemActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.officialaccount.activity.OfficialAccountArticleActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.my.activity.LoginActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.my.activity.RegisterActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity
            android:name=".module.my.activity.CoinRecordActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
        <activity android:name=".module.my.activity.CoinRankActivity"
            android:configChanges="layoutDirection|orientation|keyboardHidden|keyboard" />
    </application>

</manifest>